Repository ia-eknorr/ignition-lint: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdownlint, pylint, yamllint

markdownlint:
  name: Markdown Lint
  entry: markdownlint
  language: system
  args:
  - --config=.markdownlint.json
  - --ignore-path=.markdownlintignore

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=.pylintrc
  - "--msg-template='{path}:\n  Line {line}: {msg_id}: {msg}'"

yamllint:
  name: YAML Lint
  entry: yamllint
  language: system
  args:
  - --config-file=.yamllint.yml
  - --format=standard

chore: add bad script view example
  tests/views/bad_script_view.json
Due: none

chore: add pylint for linting code
  .pylintrc
Due: none

feat: add allow_acronym input
  action.yml
Due: yamllint

feat: update logic to support allowance of acronyums
  src/checker.py
  src/ignition_lint.py
Due: pylint

feat: add tests to support allowance of acronyms
  tests/test_checker.py
  tests/test_ignition_lint.py
Due: pylint

docs: add allow_acronyms to readme
  README.md
Due: markdownlint

chore: add config files for better linting
  .github/pull_request_template.md
  .markdownlint.json
  .markdownlintignore
  .pre-commit-config.yaml
Due: markdownlint, yamllint

chore: update ignition_lint to correct pylint errors
  src/ignition_lint.py
Due: pylint

Feature: Add allow_acronyms flag (#42)
  .github/pull_request_template.md
  .markdownlint.json
  .markdownlintignore
  .pre-commit-config.yaml
  .pylintrc
  README.md
  action.yml
  src/checker.py
  src/ignition_lint.py
  tests/test_checker.py
  tests/test_ignition_lint.py
Due: markdownlint, pylint, yamllint

feat: auto-fix trailing whitespace (C0303) in PylintScriptRule
  .config/.pylintrc
  CHANGELOG.md
  src/ignition_lint/rules/scripts/lint_script.py
  tests/unit/test_pylint_trailing_whitespace_fix.py
Due: markdownlint, pylint

chore: gitignore jython cache directories
  .gitignore
Due: none

fix: missing backslash in action.yml and add --allow-acronyms to argparse
  action.yml
  src/ignition_lint.py
Due: pylint, yamllint

fix: clear stale aggregated summary between runs
  src/ignition_lint/cli.py
  tests/unit/test_batch_cleanup.py
Due: pylint

docs: update changelog for batch result pollution fix
  CHANGELOG.md
Due: markdownlint

refactor: make rule registration opinionated by default
  CHANGELOG.md
  CLAUDE.md
  docs/README.md
  docs/rule-organization-guide.md
  pyproject.toml
  src/ignition_lint/cli.py
  src/ignition_lint/rules/__init__.py
  src/ignition_lint/rules/_examples/__init__.py
  src/ignition_lint/rules/_examples/example_mixed_severity.py
  src/ignition_lint/rules/_examples/example_rule.py
  src/ignition_lint/rules/registry.py
  tests/unit/test_example_mixed_severity.py
  tests/unit/test_rule_registration.py
Due: markdownlint, pylint

docs: backfill commit hash on opinionated-defaults changelog entries
  CHANGELOG.md
Due: markdownlint

docs: add changelog entries for Docusaurus site
  CHANGELOG.md
Due: markdownlint

fix: replace ignition-lint with ign-lint throughout docs
  documentation/docs/developing/troubleshooting.md
  documentation/docs/getting-started/configuration.md
  documentation/docs/getting-started/installation.md
  documentation/docs/getting-started/quick-start.md
  documentation/docs/intro.md
  documentation/docs/tutorial.md
  documentation/docs/usage/cli.md
  documentation/docs/usage/debug-output.md
  documentation/docs/usage/github-actions.md
  documentation/docs/usage/pre-commit.md
  documentation/docs/usage/whitelist.md
  documentation/docusaurus.config.ts
Due: markdownlint

feat: add llms.txt plugin and fix doubled bw- in GitHub URLs
  documentation/docusaurus.config.ts
  documentation/package-lock.json
  documentation/package.json
Due: none

add ia-eknorr as reviewer on renovate PRs
  .github/renovate.json
Due: none

docs: update github links from design-group to bw-design-group org
  .github/workflows/prepare-release.yml
  CHANGELOG.md
  RELEASING.md
  docs/v0.3.0-implementation-notes.md
  pyproject.toml
Due: markdownlint, yamllint

docs: update changelog version for docusaurus
  CHANGELOG.md
Due: markdownlint

chore: bump project to v0.5.1
  pyproject.toml
Due: none

docs: switch to @signalwire docusaurus-plugin-llms-txt
  documentation/docusaurus.config.ts
  documentation/package-lock.json
  documentation/package.json
Due: none

docs: point users to bw-design-group/ignition-lint
  README.md
Due: markdownlint

docs: note that switching to bw is not a 1:1 config repoint
  README.md
Due: markdownlint

docs: refer to the maintainers as Design Group
  README.md
Due: markdownlint

docs: point users to bw-design-group/ignition-lint (#58)
  README.md
Due: markdownlint

Path conditions:
  markdownlint: any of: \.(md|markdown|mdown)$
  pylint: any of: \.py$
  yamllint: any of: \.(yaml|yml)$
